@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}